# --- Global ---
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# --- Node/Vue (frontend) ---
node_modules/
dist/
vite.svg
.env
.env.*

# --- Spring Boot (backend) ---
target/
*.iml
*.class
*.jar
*.war
*.ear

# Maven wrapper files (optional if needed in CI/CD)
!.mvn/
!mvnw
!mvnw.cmd

# --- VSCode / IDE ---
.vscode/
.idea/

# --- OS / Editor junk ---
*.sublime-workspace
*.sublime-project
*.code-workspace
*.bak
*.tmp

# own custom
/backup